{% extends "layouts/main.html" %}
{% block styles %}
<style>
.flex1{
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
@media only screen and (max-device-width: 767px){
    .flex1{
        display: flex;
        overflow: auto;
        flex-direction: column;
    }
    .flex1>div{
        flex-grow: 0;
    }
}
@media only screen and (min-device-width: 768px){
    .flex1>div{
        flex-grow: 1;
    }
}
.cam-idle{
  /* background: rgba(255,255,255,1); */
  /* background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(35%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%); */
  background: linear-gradient(to bottom, var(--bg-gd-1-a) 50%, var(--bg-gd-1-b) 50%);
}
.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: white;
    
    gap: 2.4rem;
    padding: 60px 0px;
}

@media only screen and (max-device-width: 767px){
    .flex2 {max-height: 770px;}
}
@media only screen and (min-device-width: 768px){
    .flex2 {height: 100%;}
}
.flex2> div {}
.flex2-top> .title {
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
.flex2-top> .title >img {
    size: 3.2em;
    color:white;
}
.flex2-top> .description {
    font-size: 1.8em;
    text-align: center;
}
.flex2-mid  {
    width: 440px;
    height: 300px;
    background-color: #847e7d;
    background: url("{{ url_for('assets', path='/img/photo_idle.png') }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #88888850;
    cursor: pointer;
}
.flex2-bottom> button {
    background-color: var(--bg-gd-1-a);
    padding: 0.3em 0.8em;
    font-size: 1.6em;
    font-weight: 500;
}

.cam-recording{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    justify-content: center;
    background: linear-gradient(to bottom, var(--bg-gd-1-a) 50%, var(--bg-gd-1-b) 50%);
}
/* @media only screen and (max-device-width: 767px){
    .cam-recording { 
        width: 100%; padding-bottom: 100px; 
        font-size: 32px;
        padding: 20px 60px;
    }
}
@media only screen and (min-device-width: 768px){
    .result-box { 
        width: 400px; padding-bottom: 0px;
        font-size: 16px;
    }
} */
.cam-bottom{
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 12%;
}

/* @media only screen and (max-device-width: 767px){
    .cam-bottom{
        bottom: unset;
        top: 610px;
    }
}
@media only screen and (min-device-width: 768px){
    .cam-bottom{
        bottom: 12%;
    }
} */
.cam-bottom>button{
    background-color: var(--bg-gd-1-a);
    padding: 0.3em 0.8em;
    font-size: 1.6em;
    font-weight: 500;

}
.result-box {
    background-color: white;
    flex-grow: 0 !important;
    box-shadow:
        5px 0px 11px 0px rgba(0, 0, 0, 0.55),
        -5px 0px 11px 0px rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #202124;
    justify-content: start;
}

@media only screen and (max-device-width: 767px){
    .result-box { 
        width: 100%; padding-bottom: 100px; 
        font-size: 32px;
        padding: 20px 60px;
    }
}
@media only screen and (min-device-width: 768px){
    .result-box { 
        width: 400px; padding-bottom: 0px;
        font-size: 16px;
    }
}

.result-box > .title {
    font-size: 2em;
    font-weight: 500;
    padding: 10px 25px;
    color: #0000008e;
    display: flex;
    gap: 10px;
    align-items: center;
}
.result-box > .title > span:after {
    content: "Face Recognition";
    color: #0000008e;
}
.result-box.failed > .title > span:after {
    content: "Failed";
    color: #0000008e;
}
.result-box.complete > .title > span:after {
    content: "Complete";
    color: #0000008e;
}

.result-box > .title > i {
    scale: 1.1;
    margin-top: 2px;
    color: #00e291;
}
.result-box > .title > i:before {
    content: "";
}
.result-box.failed > .title > i:before {
    content: "new_releases";
    color: #e20091;
}
.result-box.complete > .title > i:before {
    content: "verified";
    color: #00e291;
}


.result-box > .capturedimage {
    padding: 0px 20px;
}
.result-box > .capturedimage > a> img {
    padding: 10px 40px;
    width: 100%;
}
.searchbox-container > .searchbox {
    display: flex;
    flex-direction: row;
    margin: 0.75rem;
    background: #f1f3f4;
    color: #0000008e;
    border-radius: 8px;
    align-items: center;
}
.searchbox-container > .searchbox > input {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    background: #f1f3f4;
    color: #0000008e;
    border: none;
}
.searchbox-container > .searchbox > input:focus {
    border: none;
    outline:none;
    color: #202124;
}
.searchbox-container> .searchbox > .searchicon {
    width: 50px;
    scale: 0.9;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #00000020;
}


.result-box > .loading-box {
    flex-grow: 1;
}
.result-box > .results {
    padding: 0px 12px;
    width: 100%;
    min-height: 200px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.results > .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #0000008e;
    background-color: #f1f3f4;
}
.results > .header > div {
    padding: 10px 10px;
}
.results > .header > div:first-child {
    text-align: center;
}
.results > .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    font-weight: 400;
}
@media only screen and (max-device-width: 767px){
    .results > .body { 
        font-size: 0.8em;
        line-height: 1;
    }
}
@media only screen and (min-device-width: 768px){
    .results > .body { 
        font-size: 1.1rem;
    }
}
.results > .body > .body-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
    overflow-wrap: break-word;
}
@media only screen and (max-device-width: 767px){
    .results > .body > .body-row { 
        height: 120px;
    }
}
@media only screen and (min-device-width: 768px){
    .results > .body > .body-row { 
        height: 60px;
    }
}
.results > .body > .body-row > div {
    padding: 10px 10px;
}
.results > .body > .body-row > div:first-child {
    text-align: center;
}


.results > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap:5px;
}
.results > .footer > div {
    display: flex;
    cursor: pointer;
}
.results > .footer > .paging-prev {
    color: var(--bg-gd-1-a);
}
.results > .footer > .paging-prev:hover {
    background-color: var(--bg-gd-1-a);
    color: white;
}
.results > .footer > .paging-next {
    color: var(--bg-gd-1-a);
}
.results > .footer > .paging-next:hover {
    background-color: var(--bg-gd-1-a);
    color: white;
}


.results > .footer > .pagenumber {
    display: flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
}
.results > .footer > .pagenumber > div {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 25px;
    font-weight: 600;
    color:  var(--bg-gd-1-a);
}
@media only screen and (max-device-width: 767px){
    .results > .footer > .pagenumber > div { 
        font-size: 3rem;
    }
    .results > .footer > .paging  { 
        scale: 2;
    }
    .results > .footer  { 
        padding: 20px 0 100px 0;
    }
}
@media only screen and (min-device-width: 768px){
    .results > .footer > .pagenumber > div { 
        font-size: 1.2rem;
    }
    .results > .footer > .paging  { 
        scale: 1;
    }
    .results > .footer  { 
        padding: 10px;
    }
}
.results > .footer > .pagenumber > div:hover {
    background-color: var(--bg-gd-1-a);
    color: white;
}

.results > .footer > .pagenumber > div.active {
    background-color: var(--bg-gd-1-a);
    color: white;
}

</style>
<style>
.loading-container{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background-color: #1e1e1e;
}
.loading-box{
  width:150px;
  height:150px;
  position:relative;
  top:50%;
  left:50%;
  background:transparent;
}
.loading-circle{
  position:absolute;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  transform:translate(-50%,-50%);
  border-radius:50%;
  box-shadow:0 0 20px rgba(0,0,0,.5);
  border:6px solid white;
    background: transparent;
}
.loading-circle:before
{
  content:'';
  position:absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -6px;
  left: -6px;
  border:6px solid transparent;

  background: linear-gradient( #1e1e1e , #1e1e1e) padding-box,
              linear-gradient(to right, white 70%, #4cd0c3 90%, #00afea 100%) border-box;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loading-box>span
{
  position:absolute;
  transform:translate(-50%,-50%);
  
  text-align:center;
  font-family:sans-serif;
  font-size:0.9em;
  color:white;
  text-shadow:0 0 10px #fff000;

  background:transparent;
  animation:animate 2s linear infinite;
}
@keyframes animateC
{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@keyframes animate
{
  0%{opacity:0.3;}
  50%{opacity:0.8;}
  100%{opacity:0.3;}
}
</style>
<style>
.carousel-toogle {
    position: fixed;
    width: 40px;
    height: 40px;
    transform:translate(-50%,50%);
    color: white;
    z-index: 100;
/* 
	border-top: 15px solid #555;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent; */
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    animation: at-ripple 0.6s linear infinite;
    
    transition: bottom 1s; 
}

@media only screen and (max-device-width: 767px){
    .carousel-toogle {
        background-color: #333333bd;
        left: calc(100% - 60px);
        bottom: 21vh;
    }
}
@media only screen and (min-device-width: 768px){
    .carousel-toogle {
        background-color: rgba(220, 220, 220, 0.2756);
        left: calc(100% - 460px);
        bottom: 170px;
    }
}
@-webkit-keyframes at-ripple {
  0% {
    box-shadow: 0 4px 20px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
  }
  100% {
    box-shadow: 0 4px 20px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0);
  }
}

.carousel-toogle.down {
    bottom: 40px;
    transition: bottom 1s; 
}
.carousel-toogle.up > i:before {
    content: "keyboard_double_arrow_down";
}
.carousel-toogle.down > i:before {
    content: "keyboard_double_arrow_up";
}
.carousel {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: #0000008e;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    padding: 10px 40px;
    transition: height 1s, padding 1s; 
}

@media only screen and (max-device-width: 767px){
    .carousel {
        width: calc(100%); 
        height: 20vh;
    }
    .carousel > .title {
        font-size: 4em;
    }
}
@media only screen and (min-device-width: 768px){
    .carousel {
        width: calc(100% - 400px);
        height: 170px;
    }
}
.carousel.down {
    height: 0px;
    padding: 0px 40px;
    transition: height 1s, padding 1s; 
}
.carousel > span:after {
    color: rgba(255, 255, 255, 0.756);
    font-size: 1.2em;
    content: "Captured Images...";
}
.carousel > .body {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.carousel > .body > .carousel-images-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.carousel-images-list::-webkit-scrollbar{
    width: 0;
}
.slick-track {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
}
.carousel-images {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.756);
    
}
.carousel-images > img {
    justify-content: center;
    height: 80%;
    background-color: #ffffff1e;
    cursor: pointer;
    border: none;
    outline:none;
    border-style:none;
}
.carousel-images > .remove_image {
    position: absolute;
    /* right: 0; */
    color: white;
    width: 20px;
    height: 20px;
    background-color: rgba(220, 220, 220, 0.1756);
    z-index: 300;
    cursor: pointer;
    animation: at-ripple 0.6s linear infinite;
    border-radius: 10px;
    visibility: visible;
    margin-left: 160px;
    margin-bottom: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-images > .remove_image > i {
    color: #ffffff4e;
    scale: 0.8;
}
.carousel-prev{
    position: absolute;
    float: left;
    color: white;
}
.carousel-next{
    position: absolute;
    float: right;
    color: white;
}
</style>
<style>
.blueimp-gallery-display {
    background-color: #000000dd;
}
#blueimp-gallery .slides .slide img {
    height: 50%;
}
</style>
{% endblock %}
<!-- #000000de  #f1f3f4; -->

{% block content %}
<div
  id="blueimp-gallery"
  class="blueimp-gallery"
  aria-label="image gallery"
  aria-modal="true"
  role="dialog"
>
  <div class="slides" aria-live="polite"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery"
    aria-label="previous slide"
    aria-keyshortcuts="ArrowLeft"
  ></a>
  <a
    class="next"
    aria-controls="blueimp-gallery"
    aria-label="next slide"
    aria-keyshortcuts="ArrowRight"
  ></a>
  <a
    class="close"
    aria-controls="blueimp-gallery"
    aria-label="close"
    aria-keyshortcuts="Escape"
  ></a>
  <a
    class="play-pause"
    aria-controls="blueimp-gallery"
    aria-label="play slideshow"
    aria-keyshortcuts="Space"
    aria-pressed="false"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>
<div class="flex1">
    <div class="cam-idle">
        <div class="flex2">
            <div class="flex2-top">
                <div class="title">
                    <!-- <img src="https://uploads-ssl.webflow.com/60edc9e07c55fbb772884be6/61a545117a50ad0ff5e8a418_FaceId-XESTO-BLue.png" /> -->
                    Gambar
                </div>
                <div class="description">
                    Identifikasi foto wajah Mahasiswa<br>
                    Silahkan pilih media inputan gambar
                </div>
            </div>
            <div class="flex2-mid">
                <!-- <img src="{{ url_for('assets', path='/img/photo_idle.png') }}" />  -->
                <div class="border1"></div>
                <div class="border2"></div>
            </div>
            <div class="flex2-bottom">
                <input type="file" name="unggah" id="unggah" style="display:none;">
                <button  type="button" class="btn btn-primary" onclick="upload_file()">
                    Unggah
                </button>
            </div>
        </div>
        <div class="carousel-toogle down"><i class="material-icons"></i></div>
        <div class="carousel down">
            <span class="title"></span>
            <div class="body">
                <!-- <div class="carousel-prev"> Prev </div> -->
                <div class="carousel-images-list"></div>
                <!-- <div class="carousel-next"> Next </div> -->
            </div>
        </div>
    </div>
    <div class="cam-recording" style="display: none;">
        <div class="cam-live"></div>
        <canvas class="cam-overlay" style="position: absolute;"></canvas>
        <canvas class="cam-canvas" style="display: none;"></canvas>
        <div class="cam-bottom">
            <button  type="button" class="btn btn-primary" onclick="take_snapshot()">
                Capture
            </button>
            <button  type="button" class="btn btn-primary" onclick="close_cam()">
                Close
            </button>
        </div>
    </div>
    <div class="result-box">
        <div class="title"><span></span><i class="material-icons"></i></div>
        <div class="capturedimage"></div>
        <div class="searchbox-container">
            <div class="searchbox">
                <input type="text" class="searchinput" placeholder="Search by name / nim">
                <div class="searchicon"><i class="material-icons">send</i></div>
            </div>
        </div>
        <div class="results">
            <div class="header">
                <div class="col-md-3">Image</div>
                <div class="col-md-6">Name</div>
                <div class="col-md-3">NIM</div>
            </div>
            <div class="body">
            </div>
            <div class="footer">
                <div class="paging paging-prev"  onclick="change_page(current_page-1)"><i class="material-icons">keyboard_arrow_left</i></div>
                <div class="pagenumber">
                </div>
                <div class="paging paging-next"  onclick="change_page(current_page+1)"><i class="material-icons">keyboard_arrow_right</i></div>
            </div>
        </div>
        <div class="loading-container" id="on_scanning" style="display: none;">
            <div class="loading-box">
                <div class="loading-circle"></div>
                <span>Scanning...</span>
            </div>
        </div>
        <div class="error-container" id="on_error" style="display: none;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;">
            <div class="error-box" style="display: flex;justify-content: center;">
                <img style="max-width:50%;margin: 0px 0px 60px 0px;" src="{{ url_for('assets', path='/img/icon_error.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('assets', path='/js/webcam.js') }}"></script>
<!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
<script>

var base_img = {};
var results = [];
var current_page = 1;
var row_per_page = 5;

function display_base_img(img_data){
    $(".result-box").removeClass("complete");
    $(".result-box").removeClass("failed");
    $(".result-box").addClass(img_data.status);
    $('.result-box .capturedimage').html(
                '<h3>Here is your image:</h3>' + 
                '<a href="'+img_data.img+'" title="Main Image" data-gallery="#blueimp-gallery"><img src="'+img_data.img+'"/></a>' +
                '<center>'+img_data.date+'</center>' );
    if(img_data.status=="complete"){
        $("#on_scanning").hide();
        $("#on_error").hide();
        $(".results").show();
        display_table_pagination(img_data.data);
        display_table_data(img_data.data);
    }
    if(img_data.status=="failed"){
        $("#on_scanning").hide();
        $(".results").hide();
        $("#on_error").show();
    }

    $('.capturedimage > a').click(function(event) {
        event = event || window.event;
        var target = event.target || event.srcElement
        link = target.src ? target.parentNode : target
        options = {index: link, event: event}
        
        var gallery = blueimp.Gallery($('.capturedimage > a'),options);
    });

}
function display_base_img_by_index(index){
    display_base_img(results[index]);
}
function change_page(page){
    let max_page = 1+(base_img.data.length/row_per_page);
    if(page>max_page || page<1) return;

    current_page = page;

    let key = $(".searchinput").val();
    if(key.length>0){
        filtered_data = base_img.data.filter((value)=> value.name.toLowerCase().includes(key) || value.nim.toLowerCase().includes(key));
    }else{
        filtered_data = base_img.data;
    }

    display_table_pagination(filtered_data);
    display_table_data(filtered_data);
}
function display_table_pagination(list_data){
    let max_page = 1+(list_data.length/row_per_page);
    if(current_page>max_page){
        current_page = 1;
    }

    list_htmls = [];
    for(let page = 1; page <= max_page; page++){
        list_htmls.push(`
            <div id="row${page}" class="${(current_page==(page))?"active":""}" onclick="change_page(${page})">${page}</div>
        `);
    }
    $('.pagenumber').html(list_htmls.join(""));
}
function display_table_data(list_data){
    
    list_htmls = [];
    let index = 0;
    list_data_page = list_data.slice((current_page-1)*row_per_page,((current_page-1)*row_per_page)+row_per_page);
    list_data_page.forEach(data => {
        
        if(data.is_detected){
            list_htmls.push(`
                <div class="body-row">
                    <div class="col-md-3" style="height: 100%;padding:0;">
                        <a href="${data.img}" title="Table Image ${index+1}" data-gallery="#blueimp-gallery">
                            <img src="${data.img}" style="width: 100%;height: 100%;object-fit: contain;">
                        </a>
                    </div>
                    <div class="col-md-6">${data.name}</div>
                    <div class="col-md-3">${data.nim}</div>
                </div> 
            `);
        }
        else{
            list_htmls.push(`
                <div class="body-row" style="background: #f8e5e5;">
                    <div class="col-md-3" style="height: 100%;padding:0;">
                        <a href="${data.img}" title="Table Image ${index+1}" data-gallery="#blueimp-gallery">
                            <img src="${data.img}" style="width: 100%;height: 100%;object-fit: contain;">
                        </a>
                    </div>
                    <div class="col-md-9"><center>${data.name}</center></div>
                </div> 
            `);
        }
        index = index+1;
    });
    $('.results>.body').html(list_htmls.join(""));
        
    $('.body-row > div > a').click(function(event) {
        event = event || window.event;
        var target = event.target || event.srcElement
        link = target.src ? target.parentNode : target
        options = {index: link, event: event}
        
        var gallery = blueimp.Gallery($('.body-row > div > a'),options);
    });
}
function display_saved_img(list_img_data){
    list_htmls = [];
    let index = 0;
    list_img_data.forEach(img_data => {
        let color = (img_data.status=="complete")?"#00e291":"#e20091";
        list_htmls.push(`
                <div class="carousel-images">
                    <img class="image" src="${img_data.img}" onclick="display_base_img_by_index(${index});" style="border: 2px solid ${color};"></img>
                    <span class="date">${index+1}. ${img_data.date}</span>
                    <div class="remove_image" onclick="remove_images(${index})"><i class="material-icons">close</i></div>
                </div>`);
        index = index+1;
    });

    $('.carousel-images-list').html(list_htmls.join(""));

    // $('.carousel-images-list').on('wheel', function(e) {
    //     e.preventDefault();
    //         this.scrollLeft -= (e.originalEvent.deltaY);
    // });
    // $('.carousel-images-list')
	// .on('init', () => {
    //     $('.carousel-images-list').on('wheel', (function(e) {
    //         e.preventDefault();
    //         if (e.originalEvent.deltaY < 0) {
    //             $('.carousel-images-list').slick('slickPrev');
    //         } else {
    //             $('.carousel-images-list').slick('slickNext');
    //         }
    //     }));
	// })
	// .slick({
    //     centerMode: true,
    //     slidesToShow: 5,
    //     slidesToScroll: 1,
	// 	dots: true,
	// 	horizontal: true,
	// 	infinite: false,
	// });

}


function upload_file(){
    $("#unggah").val(null);
    $("#unggah").click();
}
$("#unggah").change(function(e){
    var file = e.target.files[0];

    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function (e) {
        var base64 = e.target.result;
        detect_images(base64.split(",")[1]);
        return base64;
    };
    reader.onerror = function (error) {
        console.log('Error: ', error);
    };
});

function take_snapshot() {
    $(".results").hide();
    $("#on_error").hide();
    $("#on_scanning").show();
    // // take snapshot and get image data
    Webcam.snap( function(data_uri) {
        console.log(data_uri);
        // display results in page
        detect_images(data_uri)
    });
    
}

function detect_images(data_uri){
    var formdata = new FormData();
    var datetime = (new Date()).toISOString();
    formdata.append("img",data_uri);
    formdata.append("date", datetime);

    var requestOptions = {
        method: 'POST',
        body: formdata,
        redirect: 'follow'
    };
    
    base_img = {
        img: data_uri,
        date: datetime,
        status: "complete",
        data:[],
    };

    
    $(".result-box > .title").hide();
    $(".result-box > .capturedimage").hide();
    $(".result-box > .searchbox-container").hide();
    $(".results").hide();
    $("#on_error").hide();
    $("#on_scanning").show();

    fetch("/api/detect",requestOptions)
        .then((res)=>res.json())
        .then((data)=>{
            base_img.img = data.base_img
            base_img.date = data.date
            base_img.status = "complete"
            base_img.data = data.data

            base_img.data.map((data) => {
                data.name = data.is_detected?data.name:"Tidak dikenali"
                return data
            })

            results.unshift(base_img);
            let limit = 5;
            if(results.length>limit) results = results.slice(0,limit);
            localStorage.setItem("captured_images",JSON.stringify(results));

            display_base_img(base_img);
            display_saved_img(results);
            $(".results").show();
        })
        .catch((e)=>{
            base_img.status = "failed"
            base_img.data = []

            results.unshift(base_img);
            let limit = 5;
            if(results.length>limit) results = results.slice(0,limit);
            localStorage.setItem("captured_images",JSON.stringify(results));

            display_base_img(base_img);
            display_saved_img(results);

            $("#on_error").show();
            console.log(e);
        })
        .finally(()=>{
            close_cam();
            $(".result-box > .title").show();
            $(".result-box > .capturedimage").show();
            $(".result-box > .searchbox-container").show();
            $("#on_scanning").hide();
        })
}

var ws;
var proto = location.protocol==="https:"?"wss":"ws"
var ws_url = `${proto}://${window.location.host}/wss`;
var realtimeFaceDetection; 

function close_cam(){
    $(".cam-recording").hide();
    $(".cam-idle").show();
    $(".flex1").removeClass("recording");

    // webrtc_stop();
    if(realtimeFaceDetection) clearInterval(realtimeFaceDetection);
}

var detect_images_ws_active = 0;

var cam_width;
var cam_height;

function open_cam(){
    $(".flex1").addClass("recording");
    $(".cam-idle").hide();
    $(".cam-recording").show();

    var w = $(".cam-recording").width();
    var h = w*2/3;

    if($(".cam-recording").width() < $(".cam-recording").height()) {
        w = $(".cam-recording").width();
        h = w*4/3
    }
    
    
    Webcam.set({
        width: w,
        height: h,
        image_format: 'jpeg',
        jpeg_quality: 90
    });

    Webcam.attach( '.cam-live' );
    navigator.mediaDevices.getUserMedia({video: true}).then((stream)=>{
        let {width, height} = stream.getTracks()[0].getSettings();
        cam_height = height;
        cam_width = width;
    });
    // webrtc_start();
    function detect_images_ws(){
        if(ws==null || detect_images_ws_active) return;

        if(ws.readyState===ws.CLOSED) {
            connect_ws();
            if(realtimeFaceDetection) clearInterval(realtimeFaceDetection);
            realtimeFaceDetection = setInterval(detect_images_ws, 500);
            return;
        }
        if(ws.readyState===ws.CONNECTING) {
            console.log("still connection");
            return;
        }
        detect_images_ws_active = 1;
        let video = $(".cam-live > video")[0];
        let canvas = $(".cam-canvas")[0];
        canvas.width  = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext("2d").drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
        let image = canvas.toDataURL('image/jpeg');

        ws.send(image);
        detect_images_ws_active = 0;
        
        
        // let height = $(".capturedimage > a > img").height();
        // let width = $(".capturedimage > a > img").width();
        // canvas.getContext("2d").drawImage(video, 0, 0, width, Math.round((video.videoHeight/video.videoWidth)*width));
        // let image2 = canvas.toDataURL('image/jpeg');
        // $(".capturedimage > a > img").attr("src",image2);
    }
    realtimeFaceDetection = setInterval(detect_images_ws, 500);
}


function connect_ws() {
    ws = new WebSocket(ws_url);
    ws.onopen = function() {
        console.log('Ws connected : '+ws_url);
    };
    ws.onmessage = async function(e) {
        update_canvas_cam(JSON.parse(e.data));
    };
    ws.onclose = (e) => console.log;
    ws.onerror = (err) => console.log;
}
function update_canvas_cam(list_box) {
    let video = $(".cam-live > video");
    let overlay = $(".cam-overlay");

    
    var w = $(".cam-recording").width();
    var h = w*2/3;
    if($(".cam-recording").width() < $(".cam-recording").height()) {
        w = $(".cam-recording").width();
        h = w*4/3
    }


    overlay.css("width",w);
    overlay.css("height",h);

    overlay[0].width = w;
    overlay[0].height = h;
    overlay[0].getContext("2d").clearRect(0,0,overlay.width(),overlay.height());
    overlay[0].getContext("2d").strokeStyle = "rgb(39, 230, 89)";
    overlay[0].getContext("2d").lineWidth = 2;

    list_box.forEach((box)=>{
        let image_width = video[0].videoWidth;
        let image_height = video[0].videoHeight;

        let width_container = w;
        let width_real_cam = w;
        let offset_from_left_container = 0;
        
        let startX   = offset_from_left_container + (width_real_cam * (box[0]/image_width));
        let endX     = offset_from_left_container + (width_real_cam * (box[2]/image_width));

        let height_container = h;
        let height_real_cam = (w*cam_height/cam_width);
        let offset_from_top_container = ((height_container-height_real_cam)/2);

        let startY   = offset_from_top_container + (height_real_cam  * (box[1]/image_height));
        let endY     = offset_from_top_container + (height_real_cam  * (box[3]/image_height));

        overlay[0].getContext("2d").strokeRect(startX, startY, endX-startX, endY-startY);
    });
}
// var webrtc_conn = null;
// var webrtc_channel = null; 
// var webrtc_interval = null;
// function webrtc_start(){
// }
// function webrtc_stop(){
// }
	
function remove_images(index){
    results.splice(index, 1);
    localStorage.setItem("captured_images",JSON.stringify(results));
    display_saved_img(results);
}
function load_localstorage(){
    results = localStorage.getItem("captured_images");
    try {
        results = JSON.parse(results);
    } catch(e) {
        console.log("parse error");
        console.log(results);
        results = [];
    }
    
    if (!results || !Array.isArray(results)) results = [];

    display_saved_img(results);
    if (results.length >0){
        base_img = results[0];
        display_base_img(base_img);
    }else{
        base_img = {};
        $(".results").hide();
        $("#on_error").hide();
    }
    
    carousel_toggle = sessionStorage.getItem("carousel-toggle");
    if(carousel_toggle=="down"){
        $(".carousel-toogle").removeClass("up");
        $(".carousel-toogle").removeClass("down");
        $(".carousel-toogle").addClass("down");
        
        $(".carousel").removeClass("up");
        $(".carousel").removeClass("down");
        $(".carousel").addClass("down");
    }
    if(carousel_toggle=="up"){
        $(".carousel-toogle").removeClass("up");
        $(".carousel-toogle").removeClass("down");
        $(".carousel-toogle").addClass("up");

        $(".carousel").removeClass("up");
        $(".carousel").removeClass("down");
        $(".carousel").addClass("up");
    }
}

load_localstorage();

$(window).on("load",function(){
    connect_ws();

    $(".flex2-mid").click(()=>{
        open_cam()
    });
    
    $(".carousel-toogle").click(()=>{
        if($(".carousel-toogle").hasClass("up")){
            sessionStorage.setItem("carousel-toggle","down");

            $(".carousel-toogle").removeClass("up");
            $(".carousel-toogle").removeClass("down");
            $(".carousel-toogle").addClass("down");
            
            $(".carousel").removeClass("up");
            $(".carousel").removeClass("down");
            $(".carousel").addClass("down");
        }else{
            sessionStorage.setItem("carousel-toggle","up");

            $(".carousel-toogle").removeClass("up");
            $(".carousel-toogle").removeClass("down");
            $(".carousel-toogle").addClass("up");

            $(".carousel").removeClass("up");
            $(".carousel").removeClass("down");
            $(".carousel").addClass("up");
        }
    });

    
    $(".searchinput").on('paste input',function(e){
        let key = e.target.value.toLowerCase();
        filtered_data = base_img.data.filter((value)=> value.name.toLowerCase().includes(key) || value.nim.toLowerCase().includes(key));
        display_table_pagination(filtered_data);
        display_table_data(filtered_data);
    });

});
</script>
{% endblock %} 